@keyframes animateSvg {
    to{
        transform: translate(-50%, -10%);
    }
}
@keyframes updown {
    to{
        transform: translateY(-5px);
    }
}
@keyframes upupdown {
    to{
        transform: translateY(-10px);
    }
}